.campeonatos {
    display: flex;
    flex-direction: column;
    gap: 1rem;    
    


} 

.campeonatos-card {
    display: flex;
    background-color: aqua;
    min-height: 3rem;
    border:2px solid black;
    border-radius: 10px; 
}


/* campenatos-conteudo

campenatos-botoes */
