
:root {
  --height-footer: 100px;
  --height-header: 100px;
  --content-header-title-height: 100px;
  --content-header-background-height: 180px;
  --content-header-background-color: rgb(180, 201, 219);
  --background-color: white;
  --content-background-image: url("./assets/mago.png");
  --font-family:'Lato';

  --color-1: rgb(59, 100, 235);
  --color-2: rgb(17, 54, 158);
  --color-3: rgb(182, 54, 53);
  --color-4: rgb(245, 245, 245);
  --color-5: rgb(217, 217, 217);
  --color-6: rgb(126, 79, 37);

  --header-color: ;
  --footer-color: var(--color-3);
  --sidebar-color: var(--color-3); ;
  --content-header-background-color: var(--color-1);
  --content-background-color: var(--color-5);
  --content-components-background-color:var(--color-4);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: var(--background-color);
  box-sizing: border-box;
  font-family: sans-serif;
}

.main-container {
  display: flex;
  height: calc(100vh - (var(--height-header) + var(--height-footer)));
  position: relative;
}

header {
  height: var(--height-header);
  display: flex;
  background-color: var(--header-color);
  box-shadow:10px 10px black;

}

footer {
  height: var(--height-footer);
  background-color: var(--footer-color);
  display: flex;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.container-footer p{
  display: flex;
}

footer ul {
  display: flex;
  list-style-type: none;
  column-gap: 1rem;
}

.sidebar {
  min-width: 200px;
  display: flex;
  background-color: var(--sidebar-color);
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 1rem;
  row-gap: 1rem;
  flex-grow: 1;
}
 
.sidebar ul li .link-button{
  display: flex;
  align-items: center;
}

.sidebar ul li .link-button span{
  margin-left: auto;
}

.content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  background-color: var(--content-background-color);
  position: relative;
  padding-left: 5rem;
}

.content-header {
  display: flex;
  flex-direction: row;
  margin: 1rem 8rem 0px 2rem;
  z-index: 2;
  min-height: var(--content-header-title-height);
  color: white;

}

.content-header-title {
  display: flex;
  flex-direction: column;
 
}

.content-header-backgroud {
  position: absolute;
  left: 0;
  right: 0;
  background-color: var(--content-header-background-color);
  height: var(--content-header-background-height);
}

.content-header a {
  margin-left: auto;
}



.content-components {
  display: flex;
  flex-direction: column;
  background-color: var(--content-components-background-color);
  flex-grow: 1 ;
  margin: 1rem  5rem  2rem 1rem;
  padding: 2rem;
  border: 2px solid;
  border-radius: 20px 20px 0px 0px; 
  box-shadow: 10px 10px;
  overflow: hidden;
  z-index: 3;
  position: relative;


  &::before {  
    content: "";
    background-image: var(--content-background-image);
    content: "";
    position: absolute;
    background-position: center;
    background-repeat: no-repeat; 
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.30;
  }
}

.content-components-outlet {
  position: relative;
  overflow: auto;
}


.inner-text {
  font-weight: 700;
  font-size: 2rem;
  margin: auto;
}

footer a {
  color: rgb(0, 0, 0);
  font-size: 2rem;
}

footer a:hover {
  color: white;
}

.btn-white {
  border: 1px solid var(--color-4)!important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 3em 1rem 3em;
  margin: 1rem 3em 1rem 3em;
  text-transform: capitalize;
  border-radius: .5em;
  background-color: var(--color-4)!important;
  white-space: nowrap;
  -webkit-transition: .3s;
  transition: .3s;
  text-shadow: none!important;
  opacity: 1;
  color: #101038;
  box-shadow: 0 3px 11px rgba(0,0,0,.17);
}

.btn-white:hover {
  background-color: var( --color-5)!important;
  border: 1px solid var( --color-5)!important;
  opacity: 1!important
}

.btn-white.small {
  padding: auto!important;
  margin: auto!important;
}

.wrapper {
	display: flex;
  flex-grow: 1;
  z-index: 50;
}
.shadow {
  background-color: var(--color-5);
  display: flex;
  flex-grow: 1;
  width: 100%;
  justify-content: center;
  align-items: center;
  &.top {
    box-shadow: 0px -15px 10px -15px #111;    
  }
  &.bottom {
    box-shadow: 0px 15px 10px -15px #111;    
  }
  &.left {
    box-shadow: -15px 0px 10px -15px #111;    
  }
  &.right {
    box-shadow: 15px 0px 10px -15px #111;    
  }
}

/* 


@media only screen and (max-width: 992px)
{
  .main-container {
     flex-direction: column-reverse;
  }

  .sidebar{
      height: 150;
  }
} */
